// COLORS
$primary-color: #406345;

$secondary-color:#53a22e ;

// $white-color: #945F3A;
$white-color: #b2d5a9;

$warm-brown: #694C2F;
$light-brown: #FFD396;

$dark-grey: #323E42;

$dark-blue-text: #2c653c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
