@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

h1 {
  font-weight: 700;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  // color: $warm-brown;
  background-image: linear-gradient(180deg, $light-brown 27%, $warm-brown 76%);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  @include respond(phone) {
    background-image: linear-gradient(180deg, $light-brown 27%, $warm-brown 76%);
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    transform: translateX(2px);
  }
}

.text-color-project {
  // color: $warm-brown;
  background-image: none; /*linear-gradient(180deg,$primary-color 27%, $primary-color)*/
      -webkit-background-clip: text;
  -webkit-text-fill-color: $warm-brown;

  // Responsive text purple style
  // @include respond(phone) {
  //   background-image: none;
  //   -webkit-text-fill-color: $warm-brown;
  //       // text-shadow: 1px 0.5px 0.5px rgba(205, 219, 179, 0.468);

  // }

  &:hover {
    transform: translateX(2px);
  }
}
